[project]
	description = Some labs for k8s training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amoralej
[access "refs/for/refs/*"]
	read = group user/amoralej
	push = group user/amoralej
	label-Code-Review = -2..+2 group user/amoralej
	label-Verified = -1..+1 group user/amoralej
	rebase = group user/amoralej
	removeReviewer = group user/amoralej
	submit = group user/amoralej
[access "refs/heads/*"]
	read = group user/amoralej
	create = group user/amoralej
	push = +force group user/amoralej
	pushMerge = group user/amoralej
[access "refs/tags/*"]
	push = +force group user/amoralej
	pushTag = group user/amoralej
	pushSignedTag = group user/amoralej
